* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-color: #E5E5E5;
  --ff-type: font-family: 'Roboto', sans-serif;
  
}

body {
background-color: var(--bg-color);
}

h1{
font-family: 'Roboto';
font-weight: 500;
font-size: 12.6rem;
line-height: 14.8rem;
}